<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BizTalkComponents.PipelineComponents.PromoteKeyValueLookupResult" version="1.0.0-beta3" targetFramework="net45" />
  <package id="BizTalkComponents.Utilities.LookupUtility" version="1.1.1" targetFramework="net45" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net45" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net45" />
  <package id="Moq" version="4.7.99" targetFramework="net45" />
  <package id="Winterdom.BizTalk.PipelineTesting" version="1.2.2.0" targetFramework="net45" />
</packages>